<p id="notice"><%= notice %></p>

<h1>Lista de tarefas</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= todo_list.title %></td>
        <td><%= todo_list.description %></td>
        <td><%= link_to 'Visualizar', todo_list %></td>
        <td><%= link_to 'Editar', edit_todo_list_path(todo_list) %></td>
        <td><%= link_to 'Excluir', todo_list, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova lista de tarefas', new_todo_list_path %>
