<h1 class="todo_list_title">Mudar sua senha</h1><br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
<%= f.hidden_field :reset_password_token %>

<center>
  <div class="field">
    <%= f.label :password, "Nova senha" %><br />
    <% if @minimum_password_length %>
    <em>(No mínimo <%= @minimum_password_length %> caracteres)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true %>
  </div>
</center>

<center>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmar nova senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
</center>

<center>
  <div class="actions">
    <%= f.submit "Mudar minha senha" %>
  </div>
  <% end %>
</center>

<center>
  <%= render "devise/shared/links" %>
</center>